body{background-color: lightyellow;
}
h1{font-size: 30px;
	color: gold;}
h2{font-size: 25px;
	color: yellowgreen;}
.fat{font-size: 50px;}
.girondina{text-transform: uppercase;}
.fat.girondina{color: olive;}
h1 span{color: olivedrab;}